# Ignore dependencies, build artifacts, and environment files
node_modules
.pnpm-store
build
dist
.strapi-updater.json

# Ignore local environment files
.env

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db
